@page
@model AreaCrime
@{
  ViewData["Title"] = "Crimes by Area";
}

<h2>Crimes by Area</h2>  


@{
   if (@Model.EX != null)
	 {
	   <br />
		 <br />
		 <h3>**ERROR: @Model.EX.Message</h3>
		 <br />
		 <hr />
		 <br />
		 <br />
	 }
}

<table class="table">  
    <thead>  
        <tr>    
			<th>  
                Area No.
            </th>  
            <th>  
                Area Name
            </th>  
            <th>  
                Num of Crimes
            </th>  
            <th>  
                Crime %
            </th>   
        </tr>  
    </thead>  
    <tbody>  
				@{
				   int rank = 1;
				 }
				
        @foreach (var item in Model.CrimesList)  
        {  
            <tr>    
                <td>  
                    @item.AreaNumber
                </td>  
                <td>  
                    @item.AreaName
                </td>  
                <td>  
                    @item.NumCrimes
                </td>  
                <td>  
                    @item.CrimePercent.ToString("0.00")
                </td>  
            </tr>  
						
						rank++;
        }  
    </tbody>  
</table> 